
.header {
    display: flex;
    padding: 10px;
}

.date-picker-block {
    margin-left: 30px;
}

.react-datepicker-popper {
    z-index: 100;
}

.control-block {
    display: flex;
    margin-left: 30px;
}

.control-block button {
    cursor:pointer;
}

.control-block button:first-child {
    margin-right: 20px;
}
.ant-dropdown-menu-item button {
    width: 100%;
}